# Authlib (temporarily removed)
Flask
Flask-Cors
Flask-Session
Pillow
SpeechRecognition
beautifulsoup4
ddgs
edge-tts
google-api-python-client
google-auth-httplib2
# google-auth-oauthlib (temporarily removed)
google-generativeai
pydub
pypdf
python-dotenv
requests
selenium==4.9.1
tinydb
trafilatura
youtube-transcript-api
yfinance
google.genai