Flask
flask-cors
requests
python-dotenv
ddgs
beautifulsoup4
selenium
youtube-transcript-api
edge-tts
pypdf
pydub
SpeechRecognition
pillow
google-generativeai
Authlib
tinydb
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
Flask-Session
